html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: 'Bangers', cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}
#main p{
  color:red;
}

h1 {
  color:white;
  font-size: 4rem;
  margin-bottom: 0;
}
p{
  color:white;
}
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
h2 {
  color:white;
  font-size: 3.25rem;
}

a {
  color: red;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/potw2020a.jpg");
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;  
}

#img-div {  
  padding: 10px;
  margin: 0;
}

#img-caption {
  color:white;
  margin: 15px 0 5px 0;  
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
#headline {
  color:red;
  margin: 50px 0;
  text-align: center;
}

ul {
  color:white;
  max-width: 445px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  color:white;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: left;
}
h3 {
  color:white;
  font-size: 2rem;
}
cite{
  color:yellow;
}